nav.navbar.navbar-default.navbar-fixed-top
    .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |         
            span.icon-bar
            |         
            span.icon-bar
            |         
            span.icon-bar
          |       
          a.navbar-brand(href='/main') CryptoBook
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .navbar-form.navbar-left(role='search')
            .input-group
              input#search(type="text" class="form-control" placeholder="Search for...")
              span.input-group-btn
                button#search-submit.btn.btn-default(type="button")
                  i.fa.fa-search
          |       
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/logout") Logout
            li
              a#create-btn(href="/create") Create
