extends layout

block header
    script(src='/javascripts/third_party/wysiwyg.js')
    script(src='/javascripts/third_party/wysiwyg-editor.js')
    link(rel='stylesheet', href='/stylesheets/wysiwyg-editor.css')
    script(src='/javascripts/rsaBundle.js')
    // script(src='/javascripts/create.js')
    script(src='/javascripts/third_party/tag-it.min.js')
    script.
        var csrf=!{JSON.stringify(csrf)}

block content
    include _menu
    .container
        .row#content
