extends layout

block content
  .container
    div.header
      ul.nav.nav-pills.pull-right
        li.active
          a(href="#") Home
        li
          a(href="/login") Sign In 
      h3.text-muted CryptoBook

    #descrwription.jumbotron
      h1#webTitle CryptoBook 
      p a secure encrypted blog

    div.footer
      p CryptoBook, April 2015
