extends layout

block header
  script(type="text/javascript" src="/javascripts/index.js")
  script(type = 'text/javascript').
    var csrf=!{JSON.stringify(csrf)};


block content
  .container
    div#login
      img#page-turn-img(src="/images/page-turn.png")
      h1 CryptoBook
      h5 A Secure Encrypted Journal
      #content