//AUTHOR: Zack

doctype html
html
  head
    title= title
    script(src='/javascripts/aes.js')
    script(src='/javascripts/aes-ctr.js')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(src="/javascripts/handlebars.runtime.js")
    script(src="/javascripts/templates.js")
    script(src="/javascripts/helpers.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block header
  body
    block content