@import '_constants';

body {
    background-color: #eee;
    padding-top: 70px;

    // login
    #login {
      margin: 0 auto;
      background: #333;
      padding: 30px 20px;
      width: 340px;
      text-align: center;

      h1 {
        margin: 20px auto;
        color: #fff;
      }

      h5 {
        margin-bottom: 20px;
        color: #ddd;
        font-style: italic;
      }

      .login-input {
        border-radius: 0;
      }

      #login-btn, #signup-btn {
        width: 140px;
        border-radius: 0;
      }

      #signup-btn{
        margin-right: 20px;
      }
    }

    .post-min {
        background-color: #fff;
        padding: 5px 10px;
        margin: 5px 10px;
    }

    .post-full {
      padding: 5px 10px;
      background-color: #fff;
      height: 85vh;
      overflow: auto;
    }

    .post-menu-btn {
      width: 50%;
      margin: 0 -1px 5px -1px;
      border-radius: 0;
      background-color: $dark;
      color: #fff;
    }
    #post-menu {
      background: #ccc;
      height: 85vh;
      overflow: auto;


    }

    .tag {
      color: #fff;
      font-size: .8em;
      margin: 5px;
      background-color: $dark;
      padding: 5px;
      border-radius: 5px;
    }

    #default-post {
      .blurry-text {
        color: transparent;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
      }
    }

    .subtext {
      margin-top: 10px;
      color: #bbb;
      font-size: .8em;
    }

    #editor-container, #editor {
      background-color: white;
    }
}