@import '_constants';

body {
    background-color: #eee;
    padding-top: 70px;

    .post-min, .post-full {
        background-color: #fff;
        padding: 10px;
        margin: 5px;
    }

    .tag {
      color: #fff;
      font-size: .8em;
      margin: 5px;
      background-color: $dark;
      padding: 5px;
      border-radius: 5px;
    }

    .subtext {
        color: #bbb;
        font-size: .8em;
    }
}