@import '_constants';

body {
    font-family: 'Roboto';
    background-color: #eee;
    padding-top: 70px;


    .navbar-gray {
      background-color: #333;
      color: #fff;

      .navbar-brand {
        color: #fff;
      }

      li {
        background-color: transparent;

        a, a:hover {
          background-color: transparent;
          color: #fff;
        }

        a:hover {
          color: #ccc;
        }
      }
    }

    nav {

      .navbar-brand {
        font-family: 'Oswald';
        text-transform: uppercase;
      }

      .fa {
        margin-right: 5px;
      }

      .input-group, .input-group-btn {
        border-radius: 0;
      }
    }

    // login
    #login {
      margin: 0 auto;
      background: #333;
      padding: 60px 20px;
      width: 340px;
      height: 70vh;
      text-align: center;

      h1 {
        font-family: 'Oswald';
        text-transform: uppercase;
        margin: 20px auto;
        color: #fff;
      }

      h5 {
        margin-bottom: 20px;
        color: #ddd;
        font-style: italic;
      }

      .login-input {
        border-radius: 0;
        font-size: 0.8em; 
      }

      #login-btn, #signup-btn {
        width: 140px;
        border-radius: 0;
        font-family: 'Oswald';
        text-transform: uppercase;
      }

      #signup-btn{
        margin-right: 20px;
      }
    }

    .post-min {
        background-color: #fff;
        padding: 5px 10px;
        margin: 5px 10px;
    }

    .post-full {
      padding: 5px 10px;
      background-color: #fff;
      height: 85vh;
      overflow: auto;
    }

    .post-menu-btn, .post-menu-btn:hover {
      font-weight: 300;
      font-family: 'Oswald';
      text-transform: uppercase;
      width: 50%;
      margin: 0 -1px 5px -1px;
      border-radius: 0;
      background-color: $dark;
      color: #fff;
    }

    .post-menu-btn:focus {
      color: #ccc;
    }

    .post-menu-btn:hover {
      background-color: $hover;
    }

    #post-menu {
      background: #ccc;
      height: 85vh;
      overflow: auto;


    }

    .tag {
      color: #fff;
      font-size: .8em;
      margin: 0 5px 0 0;
      background-color: $dark;
      padding: 5px;
      border-radius: 5px;
    }

    #default-post {
      .blurry-text {
        color: transparent;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
      }

      #lock {
        position: absolute;
        margin: 50px auto;
        font-size: 150px;
        text-align: center;
        width: 90%
      }
    }

    #create-post {
      padding: 0 50px;
    }

    .subtext {
      margin-top: 10px;
      color: #bbb;
      font-size: .8em;
    }

    #editor-container, #editor {
      width: 100%;
      margin: 0;
      background-color: white;
    }
}