 <div id="post-instructions" class="post-full">
    <h1>How to Use CryptoBook</h1>
    <p id="plaintext">Lalalala</p>
   {{!--  <div>
        {{#each tags}}
            {{> tag}}
        {{/each}}
    </div>
    <p class="subtext">Posted {{formatDate date}} by {{author.username}}</p> --}}
 </div>