<div id="post-menu">
    <button id="my-posts" class="post-menu-btn btn">My Posts</button>
    <button id="shared-posts" class="post-menu-btn btn">Shared With Me</button>
    <div id="posts">
        {{> posts}}
    </div>
</div>