 <div id="post-instructions" class="post-full">
    <h1>How to Use CryptoBook</h1>
    <p>To create a new post: click 'Create' in the top right corner, fill in the fields on the resulting page and click the new 'Create' button at the bottom to pop out the encryption dialog</p>
    <p>In the following dialog, create a password and a hint to remember the password</p>
    <p>To view encrypted messages: click the message in the left pane, enter the password you encrypted the post with and click 'Decrypt'</p>




   {{!--  <div>
        {{#each tags}}
            {{> tag}}
        {{/each}}
    </div>
    <p class="subtext">Posted {{formatDate date}} by {{author.username}}</p> --}}
 </div>