<div id="create-post">
    <div class="form-group">
        <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <div id="editor-container">
            <textarea id="editor" name="editor"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="tags" placeholder="Content..." data-role="tagsinput"/ >
    </div>
    <div class="form-group">
        <label for="title">Share</label>
        <input type="text" class="form-control" id="shared" placeholder="Enter users to share with... ">
    </div>
    <button id="submit-create-btn" class="btn">Create</button> 
</div>