<form action="/signup" method="post" id="loginForm">
  <div class="form-group">
    <input id="username" name="username" placeholder="Username" class="form-control login-input"/>
  </div>
  <div class="form-group">
    <input id="password" name="password" type="password" placeholder="Password" class="form-control login-input"/>
  </div>
  <div class="form-group">
    <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password" class="form-control login-input"/>
  </div>
  <button type="submit" id="signup-btn" class="btn">Signup</button>
  <button id="login-btn" class="btn">Login</button>
</form>